* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
    margin-right: 30px;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
  display: flex;
  padding: 10px;
}

.login-container {
  h2 {
    margin-bottom: 20px;
  }
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  input {
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
  }
  button {
    padding: 5px;
    width: 254px;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.home {
  h1 {
    margin: 20px;
    text-align: center;
  }
}

.signup-container {
  // border: solid;
  text-align: center;
}

.profile {
  margin: 10px 40px;
  h2 {
    margin-bottom: 10px;
  }
}

.activity {
  margin: 10px 40px;
  h2 {
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: white;
    border: solid;
    background-color: black;
    padding: 10px;
  }
}

.email-pass {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  input {
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
  }
  button {
    padding: 5px;
    width: 254px;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.google-signin {
  margin-bottom: 15px;
  button {
    background-color: #4285f4;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    width: 250px;
  }
}

.fb-signin {
  margin-bottom: 15px;
  button {
    background-color: #4267b2;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    width: 250px;
  }
}

.phone-auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    width: 250px;
    height: 20px;
  }
  button {
    padding: 5px;
    width: 254px;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.otp-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.logout-button {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  background-color: #ff4d4f;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 0;
}

.post-container {
  width: 90%;
  padding: 10px;
  border: 0.5px solid #d4d4d4;
  margin: 10px 5%;
  border-radius: 5px;
  h1 {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 10px;
  }
}

.post-ctrl {
  button {
    margin: 0 5px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
  }
  .delete-btn {
    background-color: #ff4d4f;
    color: white;
    border: none;
  }

  .edit-btn {
    color: rgba(0, 0, 0, 0.65);
    background-color: white;
    border: 1px solid;
    border-color: #d4d4d4;
  }
}

.post-form {
  text-align: center;
  margin: 10px 0;
  input {
    width: 95%;
    height: 25px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    border: 1px solid #d4d4d4;
  }
  textarea {
    width: 95%;
    font-size: 16px;
    padding-left: 10px;
    border-color: #d4d4d4;
  }
  .post-form-ctrl {
    button {
      padding: 8px;
      cursor: pointer;
      margin-right: 10px;
      color: white;
      border: none;
      border-radius: 2px;
      font-weight: bold;
    }
    .save-btn {
      color: rgba(0, 0, 0, 0.65);
      background-color: white;
      border: 1px solid;
      border-color: #d4d4d4;
    }

    .close-btn {
      background-color: #ff4d4f;
    }
  }
}

.add-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  img {
    width: 40px;
  }
}
